.ToggleBtn {
  padding: 8px 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
}

.ToggleActive {
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  background: green;
  color: white;
  cursor: pointer;
}

.ToggleFail {
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  background: red;
  color: white;
  cursor: pointer;
}
