.hrmsnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #2e2e2e;
  height: 64px;
  box-sizing: border-box;
}

.hrmslogo {
  font-size: 22px;
  font-weight: bold;
  color: #d32f2f;
  display: flex;
  align-items: center;
}
.hrmslogoimage {
  width: 92px;
  height: 36px;
  object-fit: contain;
}
.navname {
  margin-top: 0;
}
