.opnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #1e293b !important;
}

.oplogo {
  font-size: 22px;
  font-weight: bold;
  color: #d32f2f;
  display: flex;
}
.oplogoimage {
  width: 92px;
  height: 44px;
  margin-bottom: -16px;
}
.operationslogoname {
  margin-top: -13px;
}
