.hrmsnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  background-color: #1e293b;
  background: #1e293b;
  height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #334155;
}

.hrmslogo {
  font-size: 22px;
  font-weight: bold;
  color: #d32f2f;
  display: flex;
}
.hrmslogoimage {
  width: 65px;
  height: 32px;
  margin-bottom: 0px;
}
.navname {
  margin-top: -13px;
}
