/* PAGE BACKGROUND */
.createContainer {
  padding: 20px;
  background: #f5f5f5;
  min-height: 100%;
}

/* CARD */
.card {
  background: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #e0e0e0;
}

/* TITLE */
.title {
  font-size: 18px;
  margin-bottom: 20px;
  color: #222;
}

/* GRID */
.formGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

/* INPUTS */
input,
select,
textarea {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  background: #fff;
}

/* TEXTAREA FULL WIDTH */
.full {
  width: 100%;
  margin-bottom: 20px;
  resize: none;
  height: 80px;
}

/* BUTTONS */
.footerBtns {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

/* SAVE BUTTON */
.saveBtn {
  background: #111;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

/* CANCEL BUTTON */
.cancelBtn {
  background: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

/* HOVER EFFECTS */
.saveBtn:hover {
  background: #000;
}

.cancelBtn:hover {
  background: #333;
}
